.mainWrapper {
  display: flex;
  justify-content: center;
  flex-flow: column;
  background: #e5ded8 url("../../styles/assets/whatsapp-bg.png");

  height: 100vh;
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  height: 8%;
  width: 100%;
  padding: 10px;
  background-color: #009688;
  align-items: center;
}
.chatWrapper {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 150px);
  width: 100%;
  overflow-y: scroll;
}
.chatWrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.chatWrapper ::-webkit-scrollbar-thumb {
  border-radius: 50px;
}
.emojiWrapper {
  bottom: 72px;
  position: fixed;
  right: 0px;
}
.fieldWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  width: 100%;
  padding: 10px;
}
.inputWrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.input {
  /* width: 85vw; */
  border-radius: 5px;
}
.buttonWrapper {
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .chatWrapper {
    height: calc(100vh - 80px);
  }
}
@media only screen and (min-width: 1200px) {
  .input {
    width: 90%;
    border-radius: 5px;
  }
  .inputWrapper div div div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
