.mainWrapper {
  display: flex;
  justify-content: center;
  flex-flow: column;
  background: #e5ded8 url("../../styles/assets/whatsapp-bg.png");

  height: 100vh;
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  height: 8%;
  width: 100%;
  padding: 10px;
  background-color: #00a884;
  align-items: center;
  padding: 10px 30px;

}
.sendImageWrapper{
  padding: 10px;
  position: relative;
  top: 10px;
  cursor: pointer;
}
.sendImage{
  display: none !important;
}
.imgPreview{
  padding: 10px;
  width: fit-content;
  /* background: white; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-flow: row-reverse;
  background: white;
  box-shadow: 0 19px 38px rgba(138, 138, 138, 0.3),
  0 15px 12px rgba(196, 196, 196, 0.22);
}
.imagePreviewWrapper{
  display: flex;
  width: fit-content;
  justify-content: flex-end;
  align-items: flex-start;
  flex-flow: row-reverse;
  margin: 10px;
}
.chatWrapper {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 150px);
  width: 100%;
  overflow-y: scroll;
}
.chatWrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.chatWrapper ::-webkit-scrollbar-thumb {
  border-radius: 50px;
}
.emojiWrapper1 {
  bottom: 72px;
  position: fixed;
  right: 0px;
  z-index: 9999;
}
.fieldWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  width: 100%;
  padding: 10px 30px;
}
.inputWrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 95%;
}
.input {
  border-radius: 5px;
}
.buttonWrapper {
  margin: 10px;
  cursor: pointer;
}
.buttonWrapperDisable{
  margin: 10px;
  cursor: not-allowed;

}
.disableButton{
  color: #777777;
}
/* .button{
  color: #00a884;
} */
.emojiWrapper{
  cursor: pointer;
  font-size: 20px;
  /* display: flex; */
  padding: 0 15px;
}
@media only screen and (min-width: 768px) {
  .chatWrapper {
    height: calc(100vh - 80px);
  }
}
@media only screen and (min-width: 1200px) {
  .input {
    width: 100%;

    border-radius: 5px;
  }
  .inputWrapper div div div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
