.mainWrapper {
  display: flex;
  justify-content: center;
  flex-flow: column;
  height: 100vh;
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  padding: 10px;
  background-color: #eee;
  align-items: center;
}
.chatWrapper {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 150px);
  width: 100%;
  overflow-y: scroll;
  background-color: #e5ded8;
}
.chatWrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.chatWrapper ::-webkit-scrollbar-thumb {
  border-radius: 50px;
}

.fieldWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  width: 100%;
  padding: 10px;
}
.inputWrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}
.input {
  width: 85vw;
  border-radius: 5px;
}
.buttonWrapper {
  margin: 10px;
}
@media only screen and (min-width: 600px) {
  .input {
    width: 90vw;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .chatWrapper {
    height: calc(100vh - 80px);
  }
}
@media only screen and (min-width: 992px) {
  .input {
    width: 95vw;
  }
}
@media only screen and (min-width: 1200px) {
  .input {
    width: 96vw;
    border-radius: 5px;
  }
}
