.userInfo {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  font-weight: bolder;
}
.message {
  padding: 13px;
  margin: 10px;
  width: -moz-fit-content !important;
  width: fit-content !important;
  /* max-width: 45%; */
}
.dateWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dateData{
  padding: 12px;
  margin: 20px 0 40px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgb(138 138 138 / 30%), 0 15px 12px rgb(196 196 196 / 22%);
}
.message__user {
  display: flex;
  flex-flow: row-reverse;
  margin-left: auto;
  text-align: left !important;
}

.message__guest {
  display: flex;
}
.message__userWrapper{
  margin-top: -35px;
  display: flex;
  flex-flow: row-reverse;
  margin-left: auto;
  text-align: left !important;
}
.message__userWrapper:hover{
  margin-top: -35px;
  display: flex;
  flex-flow: row-reverse;
  margin-left: auto;
  text-align: left !important;
  max-width: 50.82% !important;
}
.message__prevUser {
  min-width: 200px;
  background-color: #cdf8ac;
  border: none;
  position: relative;
  margin-right: 64px;
  margin-bottom: 10px;
  padding: 10px;
  min-height: 56px;
  text-align: left;
  font: 400 0.9em "Open Sans", sans-serif;
  border-radius: 10px;
}
.message__prevGuest {
  background-color: white;
  border: none;
  min-width: 200px;
  position: relative;
  margin-left: 64px;
  margin-bottom: 10px;
  margin-top: -45px;
  padding: 10px;
  min-height: 56px;
  text-align: left;
  font: 400 0.9em "Open Sans", sans-serif;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.message__userCard {
  background-color: #cdf8ac;
  border: none;
  position: relative;
  margin-right: 19px;
  margin-bottom: 10px;
  padding: 10px;
  min-height: 56px;
  text-align: left;
  font: 400 0.9em "Open Sans", sans-serif;
  border-radius: 10px;
  min-width: 200px;
}
.message__userCard:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #cdf8ac;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  right: -15px;
}

.message__guestCard {
  background-color: white;
  border: none;
  position: relative;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  min-height: 56px;
  text-align: left;
  font: 400 0.9em "Open Sans", sans-serif;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-width: 200px;
}
.avatarWrapper{
  /* position: relative;
  bottom: 20px; */
  /* border: 2px solid; */
  height: 100%;
}
.iconWrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;

}
.userAvatar{
  position: relative;
  bottom: 2px;
}
.message__guestCard:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid white;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  left: -15px;
}
.messageLength {
  word-break: break-word;
  text-align: initial;
}
.messageLength p {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.iconBtn{
  display: none;
}
.message:hover .iconBtn{
  /* display: block; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 0 10px;
}
.messageStatus{
  padding: 5px;
  height: 5px;
  width: 5px;
  background: red;
  border-radius: 50px;
}
.messageStatusSeen{
  padding: 5px;
  height: 5px;
  width: 5px;
  background: green;
  border-radius: 50px;
}