.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.container div{
  margin-right: 10px;
}
.chatContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container div span {
  background-color: #686868;
}
.chatContainer div span {
  background-color: #686868;
}
.avatarWrapper{
    display: block;
    width: 100%;
}
.hiddenAvatarWrapper{
    display: none;
}
